:root {
    --orange: #FD7F20;
    --crimson: #990000;
    --orange-red: #FC2E20;
    --amber: #fdc97a;
    --black: #010100;
    --white: #ffffff;
    --purple: #581c87;
    --purple-shadow: #6a5477;
}