<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#51087E" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/text/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/text/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/text/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/site.webmanifest">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    {% block style_tags %}
    <link rel="stylesheet" href="/public/style/index.css" />
    <link rel="stylesheet" href="/public/style/header.css" />
    {% endblock style_tags %}
    {% block page_title %}
    <title>Wittle Workshop</title>
    {% endblock page_title %}
</head>

<body>
    {% include "components/header.html" %}
    <div id="content" class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
<script src="/public/js/test.js"></script>

</html>
