{% extends "base.html" %}

{% block style_tags %}
{{ super() }}
<link rel="stylesheet" href="/public/style/docker_container_view.css" />
{% endblock style_tags %}

{% block page_title %}
<title>Manage Docker</title>
{% endblock page_title %}

{% block content %}
<div>
    <h1>Manage Docker</h1>
    <p>Welcome to the Wittle Workshop! Here you can find a variety of tools and resources to help you manage your Docker containers and services. Click on the links above to get started!</p>
    <div class="container-grid">
        {% for a in [1,2,3,4] %}
        <div class="grid-test {{ 'grid-column-' ~ a }}">
            {% include "components/DockerContainerView.html" %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
