<header class='header'>
    <div class='header-left'>
        <a href='/' class="header-logo">
            <div class="header-logo-container">
                <img src='../../public/favicon/hammer/favicon-32x32.png' width="32px" height="32px">
            </div>
            <div class="header-logo-container">
                <h1>Wittle Workshop</h1>
            </div>
        </a>
    </div>
    <div class='header-right'>
        <div class='navbarItem'>
            <a href='/plans'>Plans</a>
        </div>
        <div class='navbarItem'>
            <a href='/managedocker'>Manage Docker</a>
        </div>
        <div class='navbarItem'>
            <a href='/manageservices'>Manage Services</a>
        </div>
    </div>
</header>
